In [3]:
import pandas as pd
import numpy as np

In [4]:
#由Serise组成的字典生成Dataframe
A=pd.Series(np.arange(1,4))
B=pd.Series(np.arange(4,6))
C1={'c1':A,'c2':B}
D1=pd.DataFrame(C1)
D1

   c1   c2
0   1  4.0
1   2  5.0
2   3  NaN

In [5]:
#由嵌套的字典生成Dataframe（index即为内部字典的所有key，对应的列即为外部字典value中对应的value）
C2={'A':{2000:1,2001:2,2002:3},'B':{2001:4,2002:5}}
D2=pd.DataFrame(C2)
D2

      A    B
2000  1  NaN
2001  2  4.0
2002  3  5.0

In [6]:
#列表生成Dataframe（各项都变为一行）
C3=[1,2]
D3=pd.DataFrame(C3)
D3

   0
0  1
1  2

In [7]:
#多维列表类似二维ndarray
data1=[[1,2],[3,4],[5,6]]
frame=pd.DataFrame(data1)
frame

   0  1
0  1  2
1  3  4
2  5  6

In [8]:
#二维ndarray生成dataframe，直接转换
data=np.random.randn(2,3)
D=pd.DataFrame(data)
D

          0         1         2
0 -0.374318  1.406392  1.134452
1 -1.302275  0.354457 -0.211673

In [9]:
#字典或Series的列表生成Dataframe（各项都变为一行，字典的keys或者Series的索引变为列标）
#C3=[A,B]
C4=[{2000:1,2001:2,2002:3},{2001:4,2002:5}]
D4=pd.DataFrame(C4)
D4

   2000  2001  2002
0   1.0     2     3
1   NaN     4     5

In [32]:
#列表生成Dataframe（各项都变为一行）
data1=[[1,2],[3,4],[5,6]]
frame=pd.DataFrame(data1)
print(frame.reindex([0,1],[0]))

   0
0  1
1  3