In [5]:
import numpy as np
import pandas as pd

In [7]:
data=pd.read_csv('C:\\Users\Administrator\Desktop\贝叶斯作业\Chicago_Crimes_2012_to_2017.csv',delimiter=',')

In [10]:
data.shape

(1456714, 23)

In [18]:
data.tail()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
1456709,6250330,10508679,HZ250507,05/03/2016 11:33:00 PM,026XX W 23RD PL,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,...,28.0,30.0,08B,1159105.0,1888300.0,2016,05/10/2016 03:56:50 PM,41.849222,-87.691556,"(41.849222028, -87.69155551)"
1456710,6251089,10508680,HZ250491,05/03/2016 11:30:00 PM,073XX S HARVARD AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,True,...,17.0,69.0,14,1175230.0,1856183.0,2016,05/10/2016 03:56:50 PM,41.760744,-87.633335,"(41.760743949, -87.63333531)"
1456711,6251349,10508681,HZ250479,05/03/2016 12:15:00 AM,024XX W 63RD ST,041A,BATTERY,AGGRAVATED: HANDGUN,SIDEWALK,False,...,15.0,66.0,04B,1161027.0,1862810.0,2016,05/10/2016 03:56:50 PM,41.779235,-87.685207,"(41.779234743, -87.685207125)"
1456712,6253257,10508690,HZ250370,05/03/2016 09:07:00 PM,082XX S EXCHANGE AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,False,...,7.0,46.0,08B,1197261.0,1850727.0,2016,05/10/2016 03:56:50 PM,41.745252,-87.552773,"(41.745251975, -87.552773464)"
1456713,6253474,10508692,HZ250517,05/03/2016 11:38:00 PM,001XX E 75TH ST,5007,OTHER OFFENSE,OTHER WEAPONS VIOLATION,PARKING LOT/GARAGE(NON.RESID.),True,...,6.0,69.0,26,1178696.0,1855324.0,2016,05/10/2016 03:56:50 PM,41.758309,-87.620658,"(41.75830866, -87.620658418)"

In [37]:
data['District'].head()

0    10.0
1     3.0
2    15.0
3    15.0
4    15.0
Name: District, dtype: float64

In [15]:
print('各属性缺失值情况：\n', data.isnull().sum())

各属性缺失值情况：
 Unnamed: 0                  0
ID                          0
Case Number                 1
Date                        0
Block                       0
IUCR                        0
Primary Type                0
Description                 0
Location Description     1658
Arrest                      0
Domestic                    0
Beat                        0
District                    1
Ward                       14
Community Area             40
FBI Code                    0
X Coordinate            37083
Y Coordinate            37083
Year                        0
Updated On                  0
Latitude                37083
Longitude               37083
Location                37083
dtype: int64

In [44]:
datanew=data.drop(['Unnamed: 0','Beat','ID','Description','Case Number','X Coordinate','Y Coordinate','Latitude','Longitude','Location','Location Description','Updated On','Arrest'],axis=1)

In [58]:
datanew.head()

,Date,Block,IUCR,Primary Type,Domestic,District,Ward,Community Area,FBI Code,Year
0,05/03/2016 11:40:00 PM,013XX S SAWYER AVE,0486,BATTERY,True,10.0,24.0,29.0,08B,2016
1,05/03/2016 09:40:00 PM,061XX S DREXEL AVE,0486,BATTERY,True,3.0,20.0,42.0,08B,2016
2,05/03/2016 11:31:00 PM,053XX W CHICAGO AVE,0470,PUBLIC PEACE VIOLATION,False,15.0,37.0,25.0,24,2016
3,05/03/2016 10:10:00 PM,049XX W FULTON ST,0460,BATTERY,False,15.0,28.0,25.0,08B,2016
4,05/03/2016 10:00:00 PM,003XX N LOTUS AVE,0820,THEFT,True,15.0,28.0,25.0,06,2016

In [60]:
datanew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456714 entries, 0 to 1456713
Data columns (total 10 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Date            1456714 non-null  object
 1   Block           1456714 non-null  object
 2   IUCR            1456714 non-null  object
 3   Primary Type    1456714 non-null  object
 4   Domestic        1456714 non-null  bool
 5   District        1456713 non-null  float64
 6   Ward            1456700 non-null  float64
 7   Community Area  1456674 non-null  float64
 8   FBI Code        1456714 non-null  object
 9   Year            1456714 non-null  int64
dtypes: bool(1), float64(3), int64(1), object(5)
memory usage: 101.4+ MB

In [57]:
datanew['FBI Code'].value_counts()

06     329460
08B    227082
14     155455
26     137597
18     129796
05      83397
08A     68076
11      66547
07      61138
03      57313
04B     36618
04A     23927
15      17326
24      17204
10       8267
16       7654
02       7418
20       6829
17       5912
01A      2637
19       2215
09       2200
22       1953
13        413
12        268
01B        12
Name: FBI Code, dtype: int64

In [ ]:
datanew[datanew.isnull().any(axis=1)]

In [59]:
datanew.to_csv('newChicago_Crimes_2012_to_2017.csv')