In [2]:
import numpy as np
import pandas as pd
from scipy.special import logit,expit
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [3]:
data=pd.read_csv('wagedata.csv')
data.head()

   num  year  age  race  education  jobclass  health  health_ins    Y
0    1  2006   18     1          1         1       1           2  0.0
1    1  2004   24     1          4         2       2           2  0.0
2    1  2003   45     1          3         1       1           1  0.0
3    1  2003   43     3          4         2       2           1  0.0
4    1  2005   50     1          2         2       1           1  0.0

In [4]:
Y=np.array(data['Y'])
X=np.array(data.drop(['Y'],axis=1))

In [6]:
X

array([[   1, 2006,   18, ...,    1,    1,    2],
       [   1, 2004,   24, ...,    2,    2,    2],
       [   1, 2003,   45, ...,    1,    1,    1],
       ...,
       [   1, 2005,   27, ...,    1,    1,    2],
       [   1, 2005,   27, ...,    1,    2,    1],
       [   1, 2009,   55, ...,    1,    1,    1]], dtype=int64)

In [7]:
ss = StandardScaler()
xt=ss.fit_transform(X)

In [8]:
xt

array([[ 0.        ,  0.10316761, -2.11556738, ..., -0.97108454,
        -1.58003275,  1.50716211],
       [ 0.        , -0.88408224, -1.59565841, ...,  1.02977646,
         0.63289827,  1.50716211],
       [ 0.        , -1.37770717,  0.224023  , ..., -0.97108454,
        -1.58003275, -0.66349863],
       ...,
       [ 0.        , -0.39045732, -1.33570392, ..., -0.97108454,
        -1.58003275,  1.50716211],
       [ 0.        , -0.39045732, -1.33570392, ..., -0.97108454,
         0.63289827, -0.66349863],
       [ 0.        ,  1.58404239,  1.09053796, ..., -0.97108454,
        -1.58003275, -0.66349863]])